Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color, eslint --fix

feat: render Archive page with SSR
  apps/frontend/src/containers/Archive/index.tsx
  apps/frontend/src/containers/Post/components/PostCard/styled.ts
  apps/frontend/src/pages/archive.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

fix: remove useless params to mongodb
  apps/backend/src/database/database.module.ts
  apps/backend/test/announcements.e2e-spec.ts
  apps/backend/test/best-albums.e2e-spec.ts
  apps/backend/test/blog-statistics.e2e-spec.ts
  apps/backend/test/covers.e2e-spec.ts
  apps/backend/test/global-setting.e2e-spec.ts
  apps/backend/test/live-tours.e2e-spec.ts
  apps/backend/test/mottos.e2e-spec.ts
  apps/backend/test/open-sources.e2e-spec.ts
  apps/backend/test/player.e2e-spec.ts
  apps/backend/test/posts.e2e-spec.ts
  apps/backend/test/yancey-music.e2e-spec.ts
Due: prettier --write, eslint --fix --color, eslint --fix

feat: adapt the newset config of keycloak
  apps/cms/src/containers/Settings/Profile/index.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

chore: bump version
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: prettier --write

chore: bump version
  README.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
Due: prettier --write

feat: support refreshToken
  apps/cms/public/silent-check-sso.html
  apps/cms/src/components/AuthProvider/index.tsx
  apps/cms/src/containers/Settings/Account/components/UpdateEmail.tsx
  apps/cms/src/hooks/useSSO.ts
  apps/cms/src/layouts/components/Drawer/index.tsx
  apps/cms/src/layouts/components/Header/index.tsx
  apps/cms/src/layouts/index.tsx
  apps/cms/src/main.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: update style
  apps/cms/src/containers/Dashboard/components/BandwagonServiceStatus.tsx
  apps/cms/src/containers/Dashboard/styles.ts
Due: prettier --write, eslint --fix --color, eslint --fix

chore: update ci
  .github/apps-workflow-template.yml
  .github/packages-workflow-template.yml
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
  README.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  bin/workflows.sh
Due: prettier --write

style: format code
  apps/backend/src/shared/constants.ts
  apps/frontend/src/pages/index.tsx
  apps/uploader/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

chore: set pnpm version 10
  package.json
Due: none

ci: update ci
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

style: update style
  apps/backend/src/main.ts
  apps/cms/src/layouts/components/Main/index.tsx
  apps/frontend/src/pages/index.tsx
  apps/uploader/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

style: update style
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
  apps/backend/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

style: update style
  .github/workflows/github-actions-backend.yml
  apps/backend/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

style: update style
  .github/workflows/github-actions-backend.yml
Due: none

style: update style
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
  apps/frontend/src/pages/index.tsx
  apps/uploader/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

style: update style
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

fix: cors
  apps/backend/package.json
  apps/backend/src/graphql/graphqls.module.ts
  apps/backend/src/shared/middlewares/middleware.config.ts
  apps/uploader/package.json
  apps/uploader/src/libs/middlewares/security.middleware.ts
  apps/uploader/src/main.ts
  packages/utils/src/cors.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

chore: bump version
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: add NODE_ENV=production to CI
  .github/workflows/github-actions-backend.yml
Due: none

feat: delete server stats
  apps/cms/src/containers/Dashboard/components/PostRankList.tsx
  apps/cms/src/containers/Dashboard/components/TagClouds.tsx
  apps/cms/src/containers/Dashboard/index.tsx
  apps/cms/src/containers/Dashboard/styles.ts
Due: prettier --write, eslint --fix --color, eslint --fix

style: update style
  apps/cms/src/containers/Dashboard/components/TagClouds.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: embed server status iframe from grafana
  apps/cms/src/containers/Dashboard/index.tsx
  apps/cms/src/containers/Dashboard/styles.ts
Due: prettier --write, eslint --fix --color, eslint --fix

fix: solve ts error
  apps/cms/src/components/RichTextEditor/components/tiptap-extension/link-extension.ts
Due: prettier --write, eslint --fix --color, eslint --fix

feat(wip): migrate to ai next/16
  apps/frontend/next-env.d.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.json
Due: prettier --write, eslint --fix --color, eslint --fix

feat(wip): migrate to ai next/16
  pnpm-lock.yaml
Due: none

feat(wip): migrate to ai next/16
  apps/frontend/next.config.js
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

ci: update pnpm version
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

chore: update denpendencies
  apps/frontend/next-env.d.ts
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

feat: set default code language
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
  .github/workflows/slack-notify.yml
  apps/cms/src/containers/Dashboard/index.tsx
  apps/cms/src/containers/Dashboard/styles.ts
  apps/frontend/next-env.d.ts
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

Path conditions:
  prettier --write: ((any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}) or (any of: {apps,packages,tool-chains}/**/*.{css,less,scss,md})) or ((any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx}))
  eslint --fix --color: any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
