Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

feat: update
  .github/workflows/github-actions-uploader-service.yml
  apps/uploader-service/src/main.ts
Due: prettier --write, eslint --fix --color

Update github-actions-uploader-service.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: update
  .github/workflows/github-actions-uploader-service.yml
  apps/uploader-service/src/app.module.ts
Due: prettier --write, eslint --fix --color

fix: export cjs
  libs/utils/rollup.config.js
Due: none

feat: update
  libs/components/example/index.tsx
  libs/components/src/InfiniteScroll/index.tsx
  libs/components/src/SkeletonIterator/index.tsx
  libs/components/src/index.tsx
  libs/components/stories/SkeletonIterator.stories.tsx
  libs/components/stories/Thing.stories.tsx
Due: none

chore(*): bump version
  .github/apps-workflow-template.yml
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
  README.md
  apps/blog-service/package.json
  apps/uploader-service/package.json
  libs/components/CHANGELOG.json
  libs/components/CHANGELOG.md
  libs/components/package.json
  libs/utils/CHANGELOG.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
Due: none

feat(*): extract lib
  apps/blog-cms/package.json
  apps/blog-cms/src/components/ConfirmPoper/ConfirmPoper.tsx
  apps/blog-cms/src/components/TableWrapper/TableWrapper.tsx
  apps/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/containers/Settings/components/SettingItemWrapper/SettingItemWrapper.tsx
  apps/blog-cms/src/containers/Settings/components/SettingWrapper/SettingWrapper.tsx
  apps/blog-cms/src/index.tsx
  apps/blog-web/package.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

fix: auto logout when 401
  apps/blog-cms/src/index.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

fix: fix types
  .github/apps-workflow-template.yml
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-utils.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
  apps/blog-cms/src/components/ConfirmPoper/ConfirmPoper.tsx
  apps/blog-cms/src/components/SkeletonIterator/SkeletonIterator.tsx
  apps/blog-cms/src/components/TableWrapper/TableWrapper.tsx
  apps/blog-cms/src/containers/DashBoard/components/PostRankListSkeleton.tsx
  apps/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
  apps/blog-cms/src/containers/Settings/components/SettingItemWrapper/SettingItemWrapper.tsx
  apps/blog-cms/src/containers/Settings/components/SettingWrapper/SettingWrapper.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

ci: update ci
  .github/apps-workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

fix: fix type
  apps/blog-cms/src/containers/DashBoard/components/StatusCard.tsx
Due: prettier --write, eslint --fix --color

feat: migrate to react 18
  apps/blog-web/package.json
  apps/blog-web/src/components/SkeletonIterator/SkeletonIterator.tsx
  apps/blog-web/src/containers/Home/Home.tsx
  apps/blog-web/src/containers/Home/components/PostList.tsx
  apps/blog-web/src/containers/Layout/Layout.tsx
  apps/blog-web/src/containers/Music/Music.tsx
  apps/blog-web/src/containers/Music/components/LiveTour.tsx
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostList/PostList.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSarchBoxSkeleton/AlgoliaSarchBoxSkeleton.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSearchBox/AlgoliaSearchBox.tsx
  apps/blog-web/src/containers/Post/components/Top7PVPosts/Top7PVPosts.tsx
  apps/blog-web/src/pages/_document.tsx
Due: prettier --write, eslint --fix --color

feat: big change for migrating to react 18 and using @mui/x-data-grid
  apps/blog-cms/package.json
  apps/blog-cms/src/components/Move/Move.tsx
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
  apps/blog-cms/src/components/TableWrapper/TableWrapper.tsx
  apps/blog-cms/src/containers/Home/Announcement/Announcement.tsx
  apps/blog-cms/src/containers/Home/Announcement/components/AnnouncementModal.tsx
  apps/blog-cms/src/containers/Home/Announcement/components/AnnouncementTable.tsx
  apps/blog-cms/src/containers/Home/Announcement/types.ts
  apps/blog-cms/src/containers/Home/Cover/Cover.tsx
  apps/blog-cms/src/containers/Home/Cover/components/CoverModal.tsx
  apps/blog-cms/src/containers/Home/Cover/components/CoverTable.tsx
  apps/blog-cms/src/containers/Home/Motto/Motto.tsx
  apps/blog-cms/src/containers/Home/Motto/components/MottoModal.tsx
  apps/blog-cms/src/containers/Home/Motto/components/MottoTable.tsx
  apps/blog-cms/src/containers/Home/OpenSource/OpenSource.tsx
  apps/blog-cms/src/containers/Home/OpenSource/components/OpenSourceModal.tsx
  apps/blog-cms/src/containers/Home/OpenSource/components/OpenSourceTable.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/BestAlbum.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumModal.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumTable.tsx
  apps/blog-cms/src/containers/Music/LiveTour/LiveTour.tsx
  apps/blog-cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  apps/blog-cms/src/containers/Music/LiveTour/components/LiveTourTable.tsx
  apps/blog-cms/src/containers/Music/Player/Player.tsx
  apps/blog-cms/src/containers/Music/Player/components/PlayerModal.tsx
  apps/blog-cms/src/containers/Music/Player/components/PlayerTable.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/YanceyMusic.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicTable.tsx
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/containers/Post/PostList.tsx
  apps/blog-cms/src/containers/Post/components/PostTable.tsx
  apps/blog-cms/src/containers/Post/editors/enhanceEditor.ts
  apps/blog-cms/src/containers/Post/styles.ts
  apps/blog-cms/src/graphql/apolloClient.ts
  apps/blog-cms/src/hooks/useOpenModal.ts
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/Main.tsx
  apps/blog-cms/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

feat: update dependencies and use @nest/apollo
  apps/blog-service/package.json
  apps/blog-service/schema.gql
  apps/blog-service/src/graphql/graphqls.module.ts
  apps/blog-service/src/posts/posts.service.ts
Due: prettier --write, eslint --fix --color

feat: update dependencies
  apps/uploader-service/package.json
Due: none

feat: update dependencies
  libs/components/package.json
Due: none

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  libs/components/CHANGELOG.json
  libs/components/CHANGELOG.md
  libs/components/package.json
Due: prettier --write

chore(*): update
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/shared/configKeyCloak.ts
  apps/blog-service/src/shared/middlewares/middleware.config.ts
  apps/blog-web/src/containers/Legal/PrivacyPolicy/styled.ts
  apps/uploader-service/package.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

ci: update ci for ingoring warning
  .github/apps-workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: update
  apps/blog-cms/src/index.tsx
  apps/blog-service/src/main.ts
  apps/blog-web/src/styled/breakpoints.ts
  apps/uploader-service/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

chore(*): update dependencies
  apps/blog-cms/package.json
  apps/blog-service/package.json
  apps/blog-web/package.json
  apps/uploader-service/package.json
  common/autoinstallers/common-work-flow/pnpm-lock.yaml
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  libs/components/package.json
  libs/utils/package.json
Due: none

feat: error pages are mobile compatible, fix searchbox not closing when switching blog detail pages
  apps/blog-web/src/containers/Error/Error.tsx
  apps/blog-web/src/containers/Layout/Layout.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSearchBox/AlgoliaSearchBox.tsx
  apps/blog-web/src/styled/theme.ts
  apps/blog-web/styled.d.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

docs: update docs
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

docs: update docs
  CONTRIBUTING.md
Due: none

feat: 1. use @mui/x-date-pickers instead of @mui/lab; 2. supports multipl and clipboarde upload
  apps/blog-cms/package.json
  apps/blog-cms/src/components/Uploader/Uploader.tsx
  apps/blog-cms/src/components/Uploader/types.ts
  apps/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumModal.tsx
  apps/blog-cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/containers/Post/components/UploaderModal.tsx
  apps/blog-cms/src/containers/Post/editors/enhanceEditor.ts
  apps/blog-cms/src/hooks/useUploadRequest.ts
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix --color

chore(*): update dependencies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: none

feat: 1. delete toc-bot; 2. supports dark logo; 3. adjust sumaary's css style of PostCard
  apps/blog-web/package.json
  apps/blog-web/public/images/logo-dark.png
  apps/blog-web/public/images/logo-light.png
  apps/blog-web/src/containers/Layout/components/Header/styled.ts
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostDetail/styled.ts
  apps/blog-web/src/containers/Post/PostDetail/utils.ts
  apps/blog-web/src/containers/Post/components/PostCard/styled.ts
  apps/blog-web/src/containers/Post/components/Toc/Toc.tsx
  apps/blog-web/src/pages/_app.tsx
  apps/blog-web/src/styled/theme.ts
  apps/blog-web/styled.d.ts
Due: prettier --write, eslint --fix --color

fix: reuse normalize.css
  apps/blog-web/package.json
  apps/blog-web/src/pages/_app.tsx
Due: prettier --write, eslint --fix --color

feat: add year posts total count
  apps/blog-web/src/containers/Archive/Archive.tsx
  apps/blog-web/src/containers/Archive/styled.ts
Due: prettier --write, eslint --fix --color

feat: update
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/utils/package.json
  libs/utils/rollup.config.js
Due: none
