Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

feat: rip Abe san
  apps/blog-web/src/containers/Layout/Layout.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

fix: fix overflowX when grayscale(1)
  apps/blog-web/src/containers/Layout/Layout.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

feat: update
  .gitignore
  apps/blog-cms/package.json
  apps/blog-cms/src/containers/Home/Cover/components/CoverTable.tsx
  apps/blog-cms/src/containers/Home/OpenSource/components/OpenSourceTable.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumTable.tsx
  apps/blog-cms/src/containers/Music/LiveTour/components/LiveTourTable.tsx
  apps/blog-cms/src/containers/Music/Player/components/PlayerTable.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicTable.tsx
  apps/blog-service/package.json
  apps/blog-web/package.json
  apps/blog-web/src/components/Toast/Toast.tsx
  apps/blog-web/src/styled/globalStyles.ts
  apps/uploader-service/package.json
  common/config/rush/pnpm-lock.yaml
  libs/components/package.json
  libs/utils/package.json
  rush.json
Due: prettier --write, eslint --fix --color

ci: use Node.js v16
  .github/apps-workflow-template.yml
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-utils.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

ci: continue-on-error: true
  .github/libs-workflow-template.yml
Due: none

feat: update Header style
  apps/blog-web/src/containers/Layout/components/Header/styled.ts
Due: prettier --write, eslint --fix --color

feat: support next v13
  apps/blog-web/package.json
  apps/blog-web/src/components/LazyLoadImage/LazyLoadImage.tsx
  apps/blog-web/src/containers/Archive/Archive.tsx
  apps/blog-web/src/containers/Error/Error.tsx
  apps/blog-web/src/containers/Home/components/Cover.tsx
  apps/blog-web/src/containers/Layout/components/Footer/Footer.tsx
  apps/blog-web/src/containers/Layout/components/Header/Header.tsx
  apps/blog-web/src/containers/Layout/components/Header/styled.ts
  apps/blog-web/src/containers/Music/components/Card.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSearchBox/Hit.tsx
  apps/blog-web/src/containers/Post/components/PostCard/PostCard.tsx
  apps/blog-web/src/containers/Post/components/PostCard/styled.ts
  apps/blog-web/src/containers/Post/components/PrevAndNext/PrevAndNext.tsx
  apps/blog-web/src/containers/Post/components/Tag/Tag.tsx
  apps/blog-web/src/containers/Post/components/Top7PVPosts/Top7PVPosts.tsx
  apps/blog-web/src/pages/post/[id].tsx
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  apps/uploader-service/package.json
Due: none

chore(deps): update dependencies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: none

docs: bump version doc
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
Due: prettier --write

feat: replace react-ga with react-ga4
  apps/blog-web/package.json
  apps/blog-web/src/shared/analytics.ts
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

chore: bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

fix: supports react-ga4
  apps/blog-web/src/shared/analytics.ts
Due: prettier --write, eslint --fix --color

chore: bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

fix: delete the useless ReactGA.exception
  apps/blog-web/src/shared/analytics.ts
Due: prettier --write, eslint --fix --color

feat: follow the advice of eslint
  apps/blog-web/src/containers/Home/components/OpenSource.tsx
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostList/PostList.tsx
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

fix: show logo img needs a block element
  apps/blog-web/src/containers/Layout/components/Header/styled.ts
Due: prettier --write, eslint --fix --color

feat: update social media link
  apps/blog-web/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

chore: update version of rushjs and pnpm
  common/autoinstallers/common-work-flow/pnpm-lock.yaml
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run.js
  rush.json
Due: none

chore: update dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

chore: add @types/express-serve-static-core
  apps/blog-service/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

ci: use scp-action
  .github/workflows/github-actions-blog-cms.yml
Due: none

fix: `Securty` to `Security`
  apps/blog-cms/src/containers/Settings/Security/Security.tsx
  apps/blog-cms/src/containers/Settings/Security/components/SecurityIntro/SecurityIntro.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

ci: update ci
  .github/workflows/github-actions-blog-cms.yml
Due: none

fix(blog-cms): typo: `DashBoard` to `Dashboard`
  apps/blog-cms/src/containers/DashBoard/DashBoard.tsx
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
Due: prettier --write, eslint --fix --color

fix: typo: `isPublicingCovers` to `isPublicCovers`
  apps/blog-cms/src/containers/Home/Cover/Cover.tsx
Due: prettier --write, eslint --fix --color

fix: typo: `isPublicingCovers` to `isPublicCovers`
  apps/blog-cms/src/containers/Home/Cover/components/CoverTable.tsx
Due: prettier --write, eslint --fix --color

Path conditions:
  prettier --write: (any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}) or (any of: {apps,packages,tool-chains}/**/*.{css,less,scss,md})
  eslint --fix --color: any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}
