Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

ci: update ci
  .github/workflows/github-actions-blog-cms.yml
Due: none

fix: typo error
  apps/blog-cms/src/components/NotFound/NotFound.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

fix: typo: `ConfirmPoper` to `ConfirmPopover`
  apps/blog-cms/src/components/ConfirmPopover/ConfirmPopover.tsx
  apps/blog-cms/src/containers/Home/Announcement/components/AnnouncementTable.tsx
  apps/blog-cms/src/containers/Home/Cover/components/CoverTable.tsx
  apps/blog-cms/src/containers/Home/Motto/components/MottoTable.tsx
  apps/blog-cms/src/containers/Home/OpenSource/components/OpenSourceTable.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumTable.tsx
  apps/blog-cms/src/containers/Music/LiveTour/components/LiveTourTable.tsx
  apps/blog-cms/src/containers/Music/Player/components/PlayerTable.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicTable.tsx
  apps/blog-cms/src/containers/Post/components/PostTable.tsx
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
Due: prettier --write, eslint --fix --color

fix: typo: `stringfySearch` to `stringifySearch`
  .github/workflows/github-actions-blog-cms.yml
  apps/blog-cms/src/containers/Post/components/PostTable.tsx
  apps/blog-cms/src/shared/utils.ts
Due: prettier --write, eslint --fix --color

fix: typo: `hanldeOk` to `handleOk`
  .github/workflows/github-actions-blog-cms.yml
  apps/blog-cms/src/containers/Post/components/UploaderModal.tsx
Due: prettier --write, eslint --fix --color

fix: typo `imagePoperOver` to `imagePopover`
  .github/workflows/github-actions-blog-cms.yml
  apps/blog-cms/src/components/ImagePopup/ImagePopup.tsx
Due: prettier --write, eslint --fix --color

chore(blog-cms): update dependencies
  .github/workflows/github-actions-blog-cms.yml
  apps/blog-cms/package.json
Due: none

fix: fix alias
  .github/workflows/github-actions-blog-cms.yml
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
Due: prettier --write, eslint --fix --color

fix: eleminate compile warnings
  apps/blog-cms/src/containers/DashBoard/components/PostStatistics.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  libs/utils/package.json
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-service/package.json
  apps/uploader-service/package.json
  libs/utils/CHANGELOG.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
Due: prettier --write

ci: use env
  .github/workflows/github-actions-blog-cms.yml
Due: none

feat: delete useless code
  apps/blog-cms/src/types/userInfo.ts
Due: prettier --write, eslint --fix --color

fix: try close StrictMode to prevent infinite loop of keycloak
  apps/blog-cms/src/index.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

docs: bump version
  README.md
Due: none

fix: try not use @react-keycloak/web
  apps/blog-cms/package.json
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
  apps/blog-cms/src/hooks/useSSO.ts
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/Main.tsx
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

fix: delete useless code
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/shared/configKeyCloak.ts
Due: prettier --write, eslint --fix --color

fix: write token to localStorage
  apps/blog-cms/src/hooks/useSSO.ts
Due: prettier --write, eslint --fix --color

fix: add eslint-disable-next-line react-hooks/exhaustive-deps temporarily
  apps/blog-cms/src/hooks/useSSO.ts
Due: prettier --write, eslint --fix --color

fix: try fix bandwagon service
  apps/blog-cms/package.json
  apps/blog-service/package.json
  apps/blog-service/schema.gql
  apps/blog-service/src/bandwagon/models/service-info.model.ts
  apps/blog-service/src/bandwagon/models/usage-stats.model.ts
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
Due: prettier --write

feat: support update user profile
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
  apps/blog-cms/src/containers/Settings/GlobalConfig/GlobalConfig.tsx
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/hooks/useSSO.ts
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/routes.tsx
Due: prettier --write, eslint --fix --color

fix: delete useless code
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
Due: prettier --write, eslint --fix --color
