Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

style: format code
  apps/uploader-service/src/app.module.ts
  apps/uploader-service/src/config/config.module.ts
  apps/uploader-service/src/libs/filters/all-exception.filter.ts
  apps/uploader-service/src/libs/loggers/logger.module.ts
  apps/uploader-service/src/main.ts
  apps/uploader-service/src/shared/constants.ts
  apps/uploader-service/src/shared/utils.ts
  apps/uploader-service/src/uploader/uploader.controller.ts
  apps/uploader-service/src/uploader/uploader.module.ts
  apps/uploader-service/src/uploader/uploader.service.ts
Due: prettier --write, eslint --fix --color

ci: try ci for monorepo
  .github/FUNDING.yml
  .github/workflow/codeql-analysis.yml
  .github/workflow/github-actions-blog-cms.yml
  .gitignore
  rush.json
Due: none

ci: add slack-notify
  .github/workflow/slack-notify.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(*): update github flow
  .github/workflow/codeql-analysis.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/slack-notify.yml
Due: none

ci: update ci
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/slack-notify.yml
Due: none

ci: enhance ci
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/slack-notify.yml
Due: none

ci: do not check git.name and git.email in CI
  .github/workflows/github-actions-blog-cms.yml
Due: none

chore(*): update .gitignore
  .gitignore
  apps/blog-cms/.env
  apps/uploader-service/void
Due: none

ci: try ci only action in a sub project
  .github/workflows/github-actions-blog-cms.yml
Due: none

ci: try ci only in a sub project again
  .github/workflows/github-actions-blog-cms.yml
Due: none

ci: add github-actions-uploader-service.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: delete useless files
  apps/uploader-service/src/app.module.ts
  apps/uploader-service/src/config/config.module.ts
Due: prettier --write, eslint --fix --color

chore: update version
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
Due: prettier --write

ci: update ci config
  .github/workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  README.md
  bin/workflows.sh
Due: none

chore: update README.md
  apps/uploader-service/README.md
Due: prettier --write

chore(*): update README.md
  README.md
  apps/blog-cms/README.md
  apps/blog-service/README.md
  apps/blog-web/README.md
Due: prettier --write

chore(*): update README.md
  README.md
Due: none

fix: use rushx instead of pnpm
  apps/blog-service/package.json
Due: none

chore(*): update version
  README.md
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
Due: prettier --write

fix: close warning
  apps/blog-web/next.config.js
  apps/blog-web/package.json
Due: prettier --write, eslint --fix --color

fix: fix blog-web error
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
Due: none

feat: initital repo
  apps/uploader-service/src/app.module.ts
  apps/uploader-service/src/libs/config/config.module.ts
Due: prettier --write, eslint --fix --color

chore(*): update version
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
Due: prettier --write

feat: try keycloack
  .gitignore
  apps/blog-cms/.env
  apps/blog-cms/.env.development.local
  apps/blog-cms/.env.example
  apps/blog-cms/.env.production.example
  apps/blog-cms/README.md
  apps/blog-cms/package.json
  apps/blog-cms/pnpm-lock.yaml
  apps/blog-cms/src/components/Logining/Logining.tsx
  apps/blog-cms/src/containers/Settings/Account/Account.tsx
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/graphql/apolloClient.ts
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
  apps/blog-cms/src/pages/Layouts/components/Mains/Mains.tsx
  apps/blog-cms/src/routes.tsx
  apps/blog-cms/src/shared/configKeyCloak.ts
  apps/blog-cms/src/shared/types.ts
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

feat: delete REACT_APP_RECAPTCHA_KEY
  .gitignore
  apps/blog-cms/.env
  apps/blog-cms/.env.development.local
  apps/blog-cms/.env.example
  apps/blog-cms/README.md
  apps/blog-cms/src/pages/Auth/Auth.module.scss
  apps/blog-cms/src/pages/Auth/Login.tsx
  apps/blog-cms/src/pages/Auth/Register.tsx
  apps/blog-cms/src/pages/Auth/typeDefs.ts
  apps/blog-cms/src/pages/Auth/utils.ts
  apps/blog-cms/src/react-app-env.d.ts
  apps/blog-cms/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

feat: add skeleton
  apps/blog-cms/.env.example
  apps/blog-cms/README.md
  apps/blog-cms/src/containers/Settings/Security/components/TwoFactors/TwoFactors.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/styles.ts
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
  apps/blog-cms/src/pages/Layouts/components/Mains/Mains.tsx
  apps/blog-cms/src/routes.tsx
  apps/blog-cms/src/types/roles.ts
  apps/blog-cms/src/types/userInfo.ts
Due: prettier --write, eslint --fix --color

feat: finish SSO for blog-cms
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/containers/Settings/Security/components/TwoFactors/TwoFactors.tsx
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/styles.ts
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
  apps/blog-cms/src/pages/Layouts/components/Mains/Mains.tsx
Due: prettier --write, eslint --fix --color

feat: update env
  apps/blog-cms/README.md
  apps/blog-cms/src/react-app-env.d.ts
  apps/blog-cms/src/shared/configKeyCloak.ts
Due: prettier --write, eslint --fix --color

feat: refresh access_token on localStorage
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
  apps/blog-cms/src/graphql/apolloClient.ts
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/Main.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/styles.ts
Due: prettier --write, eslint --fix --color

feat: update logger
  apps/blog-service/package.json
  apps/blog-service/src/main.ts
Due: prettier --write, eslint --fix --color

feat: supports keycloak
  apps/uploader-service/README.md
  apps/uploader-service/package.json
  apps/uploader-service/pnpm-lock.yaml
  apps/uploader-service/src/app.module.ts
  apps/uploader-service/src/libs/guard/auth.guard.ts
Due: prettier --write, eslint --fix --color

feat: delete useless env character
  apps/blog-service/README.md
  apps/blog-service/src/config/config.service.ts
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: none

feat: integrate keycloak
  apps/blog-cms/src/graphql/apolloClient.ts
Due: prettier --write, eslint --fix --color

feat: integrate keycloak
  apps/blog-service/package.json
  apps/blog-service/src/shared/middlewares/middleware.config.ts
Due: prettier --write, eslint --fix --color

feat: integrate keycloak
  apps/uploader-service/src/shared/constants.ts
  apps/uploader-service/src/uploader/uploader.controller.ts
Due: prettier --write, eslint --fix --color
