Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

feat: add commit-msg hooks
  common/autoinstallers/common-work-flow/commit-lint.js
  common/autoinstallers/common-work-flow/commitlint.config.js
  common/autoinstallers/common-work-flow/package.json
  common/autoinstallers/common-work-flow/pnpm-lock.yaml
  common/config/rush/command-line.json
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  packages/uploader-service/package.json
Due: none

chore: update config
  common/autoinstallers/common-work-flow/package.json
  common/autoinstallers/common-work-flow/pnpm-lock.yaml
Due: none

chore: update configs
  .prettierrc
  common/autoinstallers/common-work-flow/commitlint.config.js
  common/config/rush/pnpm-lock.yaml
Due: none

feat: finish migrate to mui 8
  packages/blog-cms/.env.development.local
  packages/blog-cms/src/assets/global.scss
  packages/blog-cms/src/containers/DashBoard/components/PostRankList.tsx
  packages/blog-cms/src/containers/DashBoard/components/PostRankListSkeleton.tsx
  packages/blog-cms/src/containers/DashBoard/components/PostStatistics.tsx
  packages/blog-cms/src/containers/DashBoard/components/StatusCard.tsx
  packages/blog-cms/src/containers/DashBoard/components/StatusCardSkeleton.tsx
  packages/blog-cms/src/containers/DashBoard/components/TagClouds.tsx
  packages/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
  packages/blog-cms/src/containers/DashBoard/components/UsageStatusSkeleton.tsx
  packages/blog-cms/src/containers/Home/Announcement/components/AnnouncementModal.tsx
  packages/blog-cms/src/containers/Home/Cover/components/CoverModal.tsx
  packages/blog-cms/src/containers/Home/Motto/components/MottoModal.tsx
  packages/blog-cms/src/containers/Home/OpenSource/components/OpenSourceModal.tsx
  packages/blog-cms/src/containers/Music/BestAlbum/components/BestAlbumModal.tsx
  packages/blog-cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  packages/blog-cms/src/containers/Music/Player/components/PlayerModal.tsx
  packages/blog-cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  packages/blog-cms/src/containers/Post/PostEditor.tsx
  packages/blog-cms/src/containers/Settings/Account/components/UpdateEmail.tsx
  packages/blog-cms/src/containers/Settings/Account/components/UpdateUserName.tsx
  packages/blog-cms/src/containers/Settings/GlobalConfig/components/CVPicker.tsx
  packages/blog-cms/src/containers/Settings/GlobalConfig/components/ReleasePicker.tsx
  packages/blog-cms/src/containers/Settings/Profile/Profile.tsx
  packages/blog-cms/src/containers/Settings/Security/components/ChangePassword/ChangePassword.tsx
  packages/blog-cms/src/containers/Settings/Security/components/TOTP/TOTP.tsx
  packages/blog-cms/src/index.tsx
  packages/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  packages/blog-cms/src/pages/Layouts/components/Header/Header.tsx
  packages/blog-cms/src/pages/Layouts/components/Header/styles.ts
  packages/blog-cms/src/pages/Layouts/styles.ts
  packages/blog-cms/src/shared/globalStyles.ts
Due: eslint --fix --color, prettier --write

feat: update toastui to v3
  packages/blog-cms/package.json
  packages/blog-cms/src/containers/Post/PostEditor.tsx
  packages/blog-cms/src/containers/Post/components/UploaderModal.tsx
  packages/blog-cms/src/containers/Post/editors/editorEmbededPlugin.ts
  packages/blog-cms/src/containers/Post/editors/editorIO.ts
  packages/blog-cms/src/containers/Post/editors/enhanceEditor.ts
  packages/blog-cms/src/shared/constants.ts
Due: eslint --fix --color, prettier --write

feat: finish upgrade to mui 5
  packages/blog-cms/.babel.js
  packages/blog-cms/.babelrc
  packages/blog-cms/.eslintignore
  packages/blog-cms/config-overrides.js
  packages/blog-cms/package.json
  packages/blog-cms/pnpm-lock.yaml
  packages/blog-cms/src/assets/global.scss
  packages/blog-cms/src/containers/Post/PostEditor.tsx
  packages/blog-cms/src/containers/Post/editors/enhanceEditor.ts
  packages/blog-cms/src/containers/Post/styles.ts
Due: eslint --fix --color, prettier --write

chore(*): update dependencies
  common/autoinstallers/common-work-flow/commitlint.config.js
  common/config/rush/pnpm-lock.yaml
Due: none

chore: make package private
  packages/blog-service/package.json
Due: none

chore(*): update depencencies
  packages/blog-service/package.json
  packages/blog-web/package.json
  packages/uploader-service/package.json
  rush.json
Due: none

feat: bulk lint-staged
  apps/blog-web/babel.config.js
  apps/blog-web/package.json
  apps/blog-web/src/containers/Music/components/BestAlbumSkeleton.tsx
  apps/blog-web/src/containers/Music/components/CardSkeleton.tsx
  apps/blog-web/src/containers/Music/components/LiveTourSkeleton.tsx
  apps/blog-web/src/containers/Post/PostList/PostList.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSarchBoxSkeleton/AlgoliaSarchBoxSkeleton.tsx
  apps/blog-web/src/containers/Post/components/PostCardSkeleton/PostCardSkeleton.tsx
  apps/blog-web/src/containers/Post/components/PostDetailSkeleton/PostDetailSkeleton.tsx
  apps/blog-web/src/containers/Post/components/Top7PVPostsSkeleton/Top7PVPostsSkeleton.tsx
Due: eslint --fix --color, prettier --write

chore: update lint-staged
  apps/blog-web/package.json
Due: none

chore(*): update lint-staged
  .lintstagedrc
  common/config/rush/command-line.json
  common/git-hooks/pre-commit
  rush.json
Due: none

chore(*): try bulked lint-staged
  .prettierignore
  .prettierrc
  .prettierrc.js
  .vscode/settings.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(deps): update dependencies
  apps/blog-web/package.json
Due: none

feat: supports bulked lint-staged
  apps/blog-cms/.eslintrc
  apps/blog-cms/.lintstagedrc.json
  apps/blog-cms/package.json
  apps/blog-cms/pnpm-lock.yaml
  apps/blog-cms/src/components/ConfirmModal/ConfirmModal.tsx
Due: eslint --fix --color, prettier --write

chore(*): version updatee
  common/autoinstallers/common-work-flow/commitlint.config.js
  common/changes/blog-cms/master_2021-11-20-12-40.json
  common/changes/blog-web/master_2021-11-20-12-40.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): update rush.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/nonbrowser-approved-packages.json
  rush.json
Due: none

feat: update version
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/changes/blog-cms/master_2021-11-20-12-40.json
  common/changes/blog-web/master_2021-11-20-12-40.json
Due: prettier --write

feat: enhance pwa
  apps/blog-web/next.config.js
  apps/blog-web/public/manifest.json
  apps/blog-web/src/components/Head/Head.tsx
Due: eslint --fix --color, prettier --write

chore: update version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  rush.json
Due: prettier --write

chore: add old changelog.md
  apps/blog-web/CHANGELOG-old.md
Due: prettier --write

chore: update version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

chore(*): update rush.json
  rush.json
Due: none

chore: support bulked lint-staged
  apps/uploader-service/.eslintignore
  apps/uploader-service/.eslintrc.js
  apps/uploader-service/.lintstagedrc.json
  apps/uploader-service/ecosystem.config.js
  apps/uploader-service/package.json
  apps/uploader-service/pnpm-lock.yaml
  apps/uploader-service/src/libs/interceptors/errors.interceptor.ts
  apps/uploader-service/src/libs/pipes/validation.pipe.ts
  apps/uploader-service/void
Due: eslint --fix --color, prettier --write

chore: supports bulked lint-staged
  apps/blog-service/.eslintrc
  apps/blog-service/.lintstagedrc.json
  apps/blog-service/README.md
  apps/blog-service/package.json
  apps/blog-service/pnpm-lock.yaml
  apps/blog-service/src/posts/dtos/create-post.input.ts
  apps/blog-service/src/posts/models/post.model.ts
Due: eslint --fix --color, prettier --write

chore: migrate to pnpm
  apps/blog-cms/.env.development
  apps/blog-cms/README.md
  apps/blog-cms/pnpm-lock.yaml
Due: prettier --write

chore: update eslint
  apps/blog-web/.eslintrc
  apps/blog-web/README.md
  apps/blog-web/package.json
Due: prettier --write

chore(*): update rush config
  .github/PULL_REQUEST_TEMPLATE.md
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): update version
  apps/blog-service/CHANGELOG.json
  apps/blog-service/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
  common/changes/blog-cms/master_2021-11-20-16-12.json
  common/changes/blog-web/master_2021-11-20-16-12.json
Due: prettier --write

chore(*): add legacy changelog
  apps/blog-cms/CHANGELOG-lod.md
  apps/blog-service/CHANGELOG-old.md
  apps/blog-service/README.md
Due: prettier --write

chore(*): update README.md
  README.md
Due: none

chore(blog-cms): add legacy changelog
  apps/blog-cms/CHANGELOG-old.md
Due: prettier --write

feat: update graphql error strategy
  apps/blog-cms/src/graphql/apolloClient.ts
Due: eslint --fix --color, prettier --write

chore(blog-cms): update version
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  common/changes/blog-cms/master_2021-11-20-16-12.json
Due: prettier --write

style: format code
  apps/blog-cms/src/components/Loading/TwitterLoading.tsx
  apps/blog-cms/src/components/SkeletonIterator/SkeletonIterator.tsx
  apps/blog-cms/src/components/Toast/Toast.tsx
  apps/blog-cms/src/containers/DashBoard/DashBoard.tsx
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
  apps/blog-cms/src/containers/DashBoard/components/DiskChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/NetWorkChart.tsx
  apps/blog-cms/src/containers/DashBoard/types.ts
  apps/blog-cms/src/containers/Home/Announcement/Announcement.tsx
  apps/blog-cms/src/containers/Home/Cover/Cover.tsx
  apps/blog-cms/src/containers/Home/Cover/typeDefs.ts
  apps/blog-cms/src/containers/Home/Motto/Motto.tsx
  apps/blog-cms/src/containers/Home/OpenSource/OpenSource.tsx
  apps/blog-cms/src/containers/Music/BestAlbum/BestAlbum.tsx
  apps/blog-cms/src/containers/Music/LiveTour/LiveTour.tsx
  apps/blog-cms/src/containers/Music/Player/Player.tsx
  apps/blog-cms/src/containers/Music/YanceyMusic/YanceyMusic.tsx
  apps/blog-cms/src/containers/Post/PostList.tsx
  apps/blog-cms/src/containers/Post/algolia/algoliaSearch.ts
  apps/blog-cms/src/containers/Post/types.ts
  apps/blog-cms/src/containers/Settings/Account/Account.tsx
  apps/blog-cms/src/containers/Settings/GlobalConfig/GlobalConfig.tsx
  apps/blog-cms/src/hooks/useScript.ts
  apps/blog-cms/src/pages/Auth/utils.ts
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Mains/Mains.tsx
  apps/blog-cms/src/service-worker.ts
  apps/blog-cms/src/serviceWorkerRegistration.ts
Due: eslint --fix --color, prettier --write

Path conditions:
  eslint --fix --color: any of: {apps,packages,features}/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: {apps,packages,features}/**/*.{js,jsx,ts,tsx}) or (any of: {apps,packages,features}/**/*.{css,less,md})
