Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

feat: update apollo cache
  apps/blog-cms/src/graphql/apolloClient.ts
Due: prettier --write, eslint --fix --color

fix: env params error
  apps/uploader-service/src/libs/guard/auth.guard.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
  common/changes/uploader-service/develop_2022-01-04-12-51.json
  common/changes/uploader-service/refator-blog-fe_2022-01-06-07-50.json
Due: prettier --write

fix: fix bandwagon formula
  apps/blog-cms/src/containers/DashBoard/DashBoard.tsx
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
  apps/blog-cms/src/containers/DashBoard/components/CPUChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/DiskChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/NetWorkChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

fix: no post should be to 404 page
  apps/blog-web/src/containers/Home/components/Cover.tsx
  apps/blog-web/src/pages/post/[id].tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

fix: tocbot cannot init completed
  apps/blog-web/package.json
  apps/blog-web/src/containers/Post/PostDetail/utils.ts
Due: prettier --write, eslint --fix --color

feat: use v12.0.8 for next.js
  apps/blog-web/.lintstagedrc.js
  apps/blog-web/.lintstagedrc.json
  apps/blog-web/README.md
  apps/blog-web/next.config.js
  apps/blog-web/package.json
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

feat: update
  apps/blog-web/next.config.js
  apps/blog-web/package.json
Due: prettier --write, eslint --fix --color

feat: migrate env file
  apps/blog-web/.env
  apps/blog-web/next.config.js
Due: prettier --write, eslint --fix --color

chore(*): bump version
  .gitignore
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

feat: add dot background
  apps/blog-web/src/styled/globalStyles.ts
  apps/blog-web/src/styled/theme.ts
  apps/blog-web/styled.d.ts
Due: prettier --write, eslint --fix --color

feat: format styled.d.ts
  apps/blog-web/styled.d.ts
Due: prettier --write, eslint --fix --color

feat: add rss link
  apps/blog-web/src/components/Head/Head.tsx
  apps/blog-web/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

fix: fix ThemeVariables
  apps/blog-web/src/styled/globalStyles.ts
Due: prettier --write, eslint --fix --color

feat: delete dot bancground
  apps/blog-web/src/styled/globalStyles.ts
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  apps/blog-web/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

feat: use developer@yanceyleo.com as official email
  apps/blog-web/public/robots.txt
  apps/blog-web/src/containers/Legal/PrivacyPolicy/PrivacyPolicy.tsx
  apps/blog-web/src/shared/constants.ts
Due: prettier --write, eslint --fix --color

ci: add NODE_ENV=test for blog-web
  .github/workflows/github-actions-blog-web.yml
Due: none

fix: resolve overspread of archive page
  apps/blog-web/src/containers/Archive/Archive.tsx
  apps/blog-web/src/containers/Archive/styled.ts
Due: prettier --write, eslint --fix --color

fix: fix like cannot bump when click
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/components/SharePanel/SharePanel.tsx
Due: prettier --write, eslint --fix --color

fix: fix toc error
  apps/blog-web/package.json
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostDetail/styled.ts
  apps/blog-web/src/containers/Post/PostDetail/utils.ts
  apps/blog-web/src/shared/utils.ts
Due: prettier --write, eslint --fix --color

fix: fix sentry config
  apps/blog-web/package.json
  apps/blog-web/sentry.client.config.js
  apps/blog-web/sentry.server.config.js
Due: prettier --write, eslint --fix --color

fix: fix toc
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostDetail/utils.ts
  apps/blog-web/src/containers/Post/components/Toc/Toc.tsx
  apps/blog-web/src/shared/utils.ts
Due: prettier --write, eslint --fix --color

fix: make table overflow-x
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/PostDetail/styled.ts
Due: prettier --write, eslint --fix --color

feat: use lottie for sso tips
  apps/blog-cms/package.json
  apps/blog-cms/src/assets/lotties/auth.json
  apps/blog-cms/src/components/Loading/TwitterLoading.tsx
  apps/blog-cms/src/components/SSOStatus/SSOStatus.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

fix: increase title length
  apps/blog-service/src/posts/dtos/create-post.input.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
  common/changes/blog-service/develop_2022-01-04-12-51.json
  common/changes/blog-service/refator-blog-fe_2022-01-06-07-50.json
Due: prettier --write
