Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color, eslint --fix

fix: drawer shrink
  apps/cms/package.json
  apps/cms/src/layouts/components/Drawer/index.tsx
  apps/cms/src/layouts/components/Footer/index.tsx
  apps/cms/src/layouts/index.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: migrate settings
  .husky/pre-commit
  apps/backend/.lintstagedrc.yaml
  apps/backend/src/graphql/graphqls.module.ts
  apps/cms/.lintstagedrc.yaml
  apps/cms/src/containers/Post/PostList.tsx
  apps/cms/src/containers/Post/components/UploaderModal.tsx
  apps/cms/src/containers/Settings/Account/Account.tsx
  apps/cms/src/containers/Settings/Account/components/DeleteAccount.tsx
  apps/cms/src/containers/Settings/Account/components/UpdateEmail.tsx
  apps/cms/src/containers/Settings/Account/components/UpdateUserName.tsx
  apps/cms/src/containers/Settings/Account/index.tsx
  apps/cms/src/containers/Settings/Account/useAccount.ts
  apps/cms/src/containers/Settings/GlobalConfig/components/CVPicker.tsx
  apps/cms/src/containers/Settings/GlobalConfig/components/GrayTheme.tsx
  apps/cms/src/containers/Settings/GlobalConfig/components/ReleasePicker.tsx
  apps/cms/src/containers/Settings/GlobalConfig/index.tsx
  apps/cms/src/containers/Settings/GlobalConfig/typeDefs.ts
  apps/cms/src/containers/Settings/GlobalConfig/types.ts
  apps/cms/src/containers/Settings/GlobalConfig/useGlobalConfig.ts
  apps/cms/src/containers/Settings/Profile/index.tsx
  apps/cms/src/containers/Settings/Security/components/ChangePassword/ChangePassword.tsx
  apps/cms/src/containers/Settings/Security/components/SecurityIntro/SecurityIntro.tsx
  apps/cms/src/containers/Settings/Security/components/TwoFactors/TwoFactors.tsx
  apps/cms/src/containers/Settings/Security/index.tsx
  apps/cms/src/containers/Settings/components/SettingItemWrapper/index.tsx
  apps/cms/src/containers/Settings/components/SettingWrapper/index.tsx
  apps/cms/src/containers/Settings/components/SettingsHeader/index.tsx
  apps/cms/src/routes.tsx
  apps/cms/src/shared/constants.ts
  apps/frontend/.lintstagedrc.yaml
  apps/frontend/src/containers/Post/components/AlgoliaSearchBox/AlgoliaSearchBox.tsx
  apps/uploader/.lintstagedrc.yaml
  packages/eslint-config/.lintstagedrc.yaml
  packages/typescript-config/.lintstagedrc.yaml
  packages/utils/.lintstagedrc.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

feat: supports lint-staged
  apps/backend/package.json
  apps/cms/package.json
  apps/frontend/package.json
  apps/uploader/package.json
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
Due: none

feat: migrate BestAlbum module
  apps/cms/src/containers/Music/BestAlbum/BestAlbum.tsx
  apps/cms/src/containers/Music/BestAlbum/components/BestAlbumModal.tsx
  apps/cms/src/containers/Music/BestAlbum/index.tsx
  apps/cms/src/containers/Music/BestAlbum/typeDefs.ts
  apps/cms/src/containers/Music/BestAlbum/types.ts
  apps/cms/src/containers/Music/BestAlbum/useBestAlbum.ts
  apps/cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  apps/cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  apps/cms/src/containers/Post/PostList.tsx
  apps/cms/src/routes.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: migrate LiveTour module
  apps/cms/src/containers/Music/LiveTour/LiveTour.tsx
  apps/cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  apps/cms/src/containers/Music/LiveTour/index.tsx
  apps/cms/src/containers/Music/LiveTour/typeDefs.ts
  apps/cms/src/containers/Music/LiveTour/types.ts
  apps/cms/src/containers/Music/LiveTour/useLiveTour.ts
  apps/cms/src/layouts/components/Drawer/index.tsx
  apps/cms/src/layouts/index.tsx
  apps/cms/src/routes.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: migrate Player module
  apps/cms/src/containers/Music/LiveTour/index.tsx
  apps/cms/src/containers/Music/Player/Player.tsx
  apps/cms/src/containers/Music/Player/components/PlayerModal.tsx
  apps/cms/src/containers/Music/Player/index.tsx
  apps/cms/src/containers/Music/Player/typeDefs.ts
  apps/cms/src/containers/Music/Player/types.ts
  apps/cms/src/containers/Music/Player/usePlayer.ts
  apps/cms/src/routes.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: migrate YanceyMusic module
  apps/cms/src/containers/Music/Player/index.tsx
  apps/cms/src/containers/Music/YanceyMusic/YanceyMusic.tsx
  apps/cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  apps/cms/src/containers/Music/YanceyMusic/index.tsx
  apps/cms/src/containers/Music/YanceyMusic/typeDefs.ts
  apps/cms/src/containers/Music/YanceyMusic/types.ts
  apps/cms/src/containers/Music/YanceyMusic/useYanceyMusic.ts
  apps/cms/src/routes.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: delete useless code
  apps/cms/src/containers/Settings/GlobalConfig/components/GrayTheme.tsx
  apps/cms/src/layouts/components/Footer/index.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: bump version
  .changeset/README.md
  .changeset/config.json
  README.md
  apps/cms/.changeset/README.md
  apps/cms/.changeset/config.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/frontend/.changeset/README.md
  apps/frontend/.changeset/config.json
  apps/uploader/.changeset/README.md
  apps/uploader/.changeset/config.json
  packages/eslint-config/.changeset/README.md
  packages/eslint-config/.changeset/config.json
  packages/typescript-config/.changeset/README.md
  packages/typescript-config/.changeset/config.json
  packages/utils/.changeset/README.md
  packages/utils/.changeset/config.json
Due: prettier --write

docs: update REAME.md
  README.md
  package.json
Due: none

feat: upgrade dependencies for frontend
  apps/caonima/.eslintrc.json
  apps/caonima/.gitignore
  apps/caonima/README.md
  apps/caonima/next.config.ts
  apps/caonima/package-lock.json
  apps/caonima/package.json
  apps/caonima/postcss.config.mjs
  apps/caonima/public/file.svg
  apps/caonima/public/globe.svg
  apps/caonima/public/next.svg
  apps/caonima/public/vercel.svg
  apps/caonima/public/window.svg
  apps/caonima/src/app/favicon.ico
  apps/caonima/src/app/fonts/GeistMonoVF.woff
  apps/caonima/src/app/fonts/GeistVF.woff
  apps/caonima/src/app/globals.css
  apps/caonima/src/app/layout.tsx
  apps/caonima/src/app/page.tsx
  apps/caonima/tailwind.config.ts
  apps/caonima/tsconfig.json
Due: prettier --write, eslint --fix --color, eslint --fix

docs: bump version
  README.md
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
Due: prettier --write

chore: update dependencies
  pnpm-lock.yaml
Due: none

feat: update dependencies
  apps/frontend/package.json
  apps/frontend/src/containers/Archive/Archive.tsx
  apps/frontend/src/containers/GlobalSetting/typeDefs.ts
  apps/frontend/src/containers/GlobalSetting/types.ts
  apps/frontend/src/containers/Home/components/Announcement.tsx
  apps/frontend/src/containers/Home/components/Cover.tsx
  apps/frontend/src/containers/Home/components/Motto.tsx
  apps/frontend/src/containers/Home/components/OpenSource.tsx
  apps/frontend/src/containers/Home/components/PostList.tsx
  apps/frontend/src/containers/Home/typeDefs.ts
  apps/frontend/src/containers/Home/types.ts
  apps/frontend/src/containers/Layout/Layout.tsx
  apps/frontend/src/containers/Layout/components/Footer/Footer.tsx
  apps/frontend/src/containers/Layout/components/Header/Header.tsx
  apps/frontend/src/containers/Music/Music.tsx
  apps/frontend/src/containers/Music/components/BestAlbum.tsx
  apps/frontend/src/containers/Music/components/LiveTour.tsx
  apps/frontend/src/containers/Music/components/Player.tsx
  apps/frontend/src/containers/Music/typeDefs.ts
  apps/frontend/src/containers/Music/types.ts
  apps/frontend/src/containers/Post/PostDetail/PostDetail.tsx
  apps/frontend/src/containers/Post/PostList/PostList.tsx
  apps/frontend/src/containers/Post/components/PostCard/PostCard.tsx
  apps/frontend/src/containers/Post/components/PrevAndNext/PrevAndNext.tsx
  apps/frontend/src/containers/Post/components/Top7PVPosts/Top7PVPosts.tsx
  apps/frontend/src/containers/Post/typeDefs.ts
  apps/frontend/src/containers/Post/types.ts
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/post/[id].tsx
  apps/frontend/src/shared/types.ts
Due: prettier --write, eslint --fix --color, eslint --fix

feat: update dependencies
  packages/graphql-types/package.json
Due: none

chore: bump version
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/uploader/CHANGELOG.md
  apps/uploader/package.json
  packages/graphql-types/CHANGELOG.md
  packages/graphql-types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci: update ci
  .github/workflows/github-actions-@repo-eslint-config.yml
  .github/workflows/github-actions-@repo-graphql-types.yml
  .github/workflows/github-actions-@repo-typescript-config.yml
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
  README.md
  apps/backend/env/development.env
  apps/backend/env/test.env
  apps/backend/src/config/config.module.ts
  apps/backend/src/config/config.service.ts
Due: prettier --write, eslint --fix --color, eslint --fix

chore: bump version
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: prettier --write

ci: update ci
  .github/workflows/github-actions-cms.yml
Due: none

feat: suports logger for uploader service
  apps/uploader/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

feat: format code
  README.md
  apps/frontend/src/containers/Archive/index.tsx
  apps/frontend/src/containers/Error/index.tsx
  apps/frontend/src/containers/Home/index.tsx
  apps/frontend/src/containers/Layout/components/BackToTop/index.tsx
  apps/frontend/src/containers/Layout/components/Footer/index.tsx
  apps/frontend/src/containers/Layout/components/Header/index.tsx
  apps/frontend/src/containers/Layout/components/Nav/index.tsx
  apps/frontend/src/containers/Layout/index.tsx
  apps/frontend/src/containers/Legal/PrivacyPolicy/index.tsx
  apps/frontend/src/containers/Music/index.tsx
  apps/frontend/src/containers/Post/PostDetail/index.tsx
  apps/frontend/src/containers/Post/PostList/index.tsx
  apps/frontend/src/pages/404.tsx
  apps/frontend/src/pages/_error.tsx
  apps/frontend/src/pages/archive.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/legal/privacy-policy.tsx
  apps/frontend/src/pages/music.tsx
  apps/frontend/src/pages/post/[id].tsx
  apps/frontend/src/pages/post/index.tsx
  apps/uploader/CHANGELOG.md
  apps/uploader/package.json
Due: prettier --write, eslint --fix --color, eslint --fix

feat: bump version
  README.md
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
Due: prettier --write

feat: delete useless code
  apps/cms/src/vite-env.d.ts
Due: prettier --write, eslint --fix --color, eslint --fix

ci: update ci
  .github/workflows/github-actions-@repo-eslint-config.yml
  .github/workflows/github-actions-@repo-graphql-types.yml
  .github/workflows/github-actions-@repo-typescript-config.yml
Due: none

fix: add NODE_ENV manually
  apps/backend/src/config/config.service.ts
  apps/backend/src/main.ts
Due: prettier --write, eslint --fix --color, eslint --fix

chore: bump version
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-uploader.yml
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
Due: prettier --write

Create SECURITY.md
  SECURITY.md
Due: none

docs: update dependencies
  .github/workflows/github-actions-@repo-utils.yml
  README.md
Due: none

docs: update dependencies
  README.md
Due: none

ci: update ci
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

feat: store the collapsed state of the sidebar in localStorage
  apps/cms/src/layouts/components/Footer/index.tsx
  apps/cms/src/layouts/index.tsx
Due: prettier --write, eslint --fix --color, eslint --fix

feat: bump version
  README.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
Due: prettier --write

chore: update dependencies
  package.json
Due: none

feat: comile both esm and cjs of @repo/utils
  apps/backend/package.json
Due: none

feat: compile both esm and cjs format of @repo/utils
  README.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/uploader/CHANGELOG.md
  apps/uploader/package.json
  packages/utils/.eslintrc.js
  packages/utils/.eslintrc.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color, eslint --fix

feat: delete useless file
  packages/utils/CHANGELOG.json
Due: none

Path conditions:
  prettier --write: ((any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}) or (any of: {apps,packages,tool-chains}/**/*.{css,less,scss,md})) or ((any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx}))
  eslint --fix --color: any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}
  eslint --fix: (any of: apps/**/*.{js,ts,tsx}) or (any of: packages/**/*.{js,ts,tsx})
