Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

fix: update user method
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
Due: prettier --write

fix: try load userInfo
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/hooks/useSSO.ts
Due: prettier --write, eslint --fix --color

fix: typo: to
  apps/blog-cms/src/containers/Dashboard/Dashboard.tsx
  apps/blog-cms/src/containers/Dashboard/chartjsConfig.ts
  apps/blog-cms/src/containers/Dashboard/components/BandwagonServiceStatus.tsx
  apps/blog-cms/src/containers/Dashboard/components/CPUChart.tsx
  apps/blog-cms/src/containers/Dashboard/components/DiskChart.tsx
  apps/blog-cms/src/containers/Dashboard/components/NetWorkChart.tsx
  apps/blog-cms/src/containers/Dashboard/components/PostRankList.tsx
  apps/blog-cms/src/containers/Dashboard/components/PostRankListSkeleton.tsx
  apps/blog-cms/src/containers/Dashboard/components/PostStatistics.tsx
  apps/blog-cms/src/containers/Dashboard/components/StatusCard.tsx
  apps/blog-cms/src/containers/Dashboard/components/StatusCardSkeleton.tsx
  apps/blog-cms/src/containers/Dashboard/components/TagClouds.tsx
  apps/blog-cms/src/containers/Dashboard/components/ToggleChart.tsx
  apps/blog-cms/src/containers/Dashboard/components/UsageStatusSkeleton.tsx
  apps/blog-cms/src/containers/Dashboard/styles.ts
  apps/blog-cms/src/containers/Dashboard/typeDefs.ts
  apps/blog-cms/src/containers/Dashboard/types.ts
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
Due: prettier --write, eslint --fix --color

chore(blog-cms): delete useless code
  apps/blog-cms/src/containers/DashBoard/DashBoard.tsx
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
  apps/blog-cms/src/containers/DashBoard/components/BandwagonServiceStatus.tsx
  apps/blog-cms/src/containers/DashBoard/components/CPUChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/DiskChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/NetWorkChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/PostRankList.tsx
  apps/blog-cms/src/containers/DashBoard/components/PostRankListSkeleton.tsx
  apps/blog-cms/src/containers/DashBoard/components/PostStatistics.tsx
  apps/blog-cms/src/containers/DashBoard/components/StatusCard.tsx
  apps/blog-cms/src/containers/DashBoard/components/StatusCardSkeleton.tsx
  apps/blog-cms/src/containers/DashBoard/components/TagClouds.tsx
  apps/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/UsageStatusSkeleton.tsx
  apps/blog-cms/src/containers/DashBoard/styles.ts
  apps/blog-cms/src/containers/DashBoard/typeDefs.ts
  apps/blog-cms/src/containers/DashBoard/types.ts
Due: prettier --write, eslint --fix --color

chore(*): replace the expired badge
  README.md
Due: none

fix: try use axios.put
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
Due: prettier --write, eslint --fix --color

feat: support to update profile by KeyCloak
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/hooks/useSSO.ts
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
Due: prettier --write, eslint --fix --color

fix: delete useless code
  apps/blog-cms/src/pages/Layouts/Layouts.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
Due: prettier --write, eslint --fix --color

fix: delete useless code
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
Due: prettier --write, eslint --fix --color

fix: use instead of
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Header/Header.tsx
Due: prettier --write, eslint --fix --color

feat: update PV in useEffect
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
Due: prettier --write, eslint --fix --color

ci: update ci
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
Due: none

ci: update ci
  .github/apps-workflow-template.yml
  .github/packages-workflow-template.yml
  .github/workflows/github-actions-@repo-components.yml
  .github/workflows/github-actions-@repo-eslint-config.yml
  .github/workflows/github-actions-@repo-typescript-config.yml
  .github/workflows/github-actions-@repo-utils.yml
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

ci: update ci
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-eslint-config.yml
  .github/workflows/github-actions-@shared-typescript-config.yml
  .github/workflows/github-actions-@shared-utils.yml
  .github/workflows/github-actions-cms.yml
  bin/tempCodeRunnerFile.sh
  bin/workflows.sh
Due: none

ci: update ci
  .husky/pre-commit
  .lintstagedrc.yaml
  apps/backend/package.json
  apps/cms/package.json
  apps/frontend/.eslintrc
  apps/frontend/.eslintrc.json
  apps/frontend/package.json
  apps/uploader/package.json
  package.json
  packages/components/.eslintrc
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/CHANGELOG.json
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/example/.npmignore
  packages/components/example/index.html
  packages/components/example/index.tsx
  packages/components/example/package.json
  packages/components/example/tsconfig.json
  packages/components/package.json
  packages/components/src/InfiniteScroll/index.tsx
  packages/components/src/SkeletonIterator/index.tsx
  packages/components/src/index.tsx
  packages/components/stories/SkeletonIterator.stories.tsx
  packages/components/test/blah.test.tsx
  packages/components/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

ci: update ci
  .github/apps-workflow-template.yml
  .github/packages-workflow-template.yml
  .github/workflows/github-actions-@repo-eslint-config.yml
  .github/workflows/github-actions-@repo-typescript-config.yml
  .github/workflows/github-actions-@repo-utils.yml
  .github/workflows/github-actions-backend.yml
  .github/workflows/github-actions-cms.yml
  .github/workflows/github-actions-frontend.yml
  .github/workflows/github-actions-uploader.yml
Due: none

ci: update ci
  package.json
Due: none

docs: update README.md
  CONTRIBUTING.md
  README.md
Due: none

docs: delete useless docs
  apps/backend/CHANGELOG-old.md
  apps/backend/CHANGELOG.json
  apps/backend/CHANGELOG.md
  apps/cms/CHANGELOG-old.md
  apps/cms/CHANGELOG.json
  apps/cms/CHANGELOG.md
  apps/frontend/CHANGELOG-old.md
  apps/frontend/CHANGELOG.json
  apps/frontend/CHANGELOG.md
  apps/uploader/CHANGELOG.json
Due: prettier --write

feat: supports changesets
  apps/cms/.changeset/README.md
  apps/cms/.changeset/config.json
Due: prettier --write

feat: supports changesets
  README.md
  apps/backend/.changeset/README.md
  apps/backend/.changeset/config.json
  apps/frontend/.changeset/README.md
  apps/frontend/.changeset/config.json
  apps/uploader/.changeset/README.md
  apps/uploader/.changeset/config.json
  package.json
  packages/eslint-config/.changeset/README.md
  packages/eslint-config/.changeset/config.json
  packages/eslint-config/package.json
  packages/typescript-config/.changeset/README.md
  packages/typescript-config/.changeset/config.json
  packages/typescript-config/package.json
  packages/utils/.changeset/README.md
  packages/utils/.changeset/config.json
  packages/utils/.rollup.cache/Users/bytedance/beg-monorepo/packages/utils/cors.d.ts
  packages/utils/.rollup.cache/Users/bytedance/beg-monorepo/packages/utils/generate-file.d.ts
  packages/utils/.rollup.cache/Users/bytedance/beg-monorepo/packages/utils/index.d.ts
  packages/utils/.rollup.cache/Users/bytedance/beg-monorepo/packages/utils/scroll-to-top.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

feat: use vite instead of cra
  apps/cms/src/containers/Dashboard/components/PostStatistics.tsx
Due: prettier --write, eslint --fix --color

feat: upgrade dependencies
  apps/cms/package.json
  apps/cms/src/containers/Dashboard/chartjsConfig.ts
  apps/cms/src/containers/Dashboard/components/PostStatistics.tsx
  apps/cms/src/containers/Dashboard/components/StatusCard.tsx
  apps/cms/src/containers/Home/Cover/Cover.tsx
  apps/cms/src/containers/Music/BestAlbum/components/BestAlbumModal.tsx
  apps/cms/src/containers/Music/LiveTour/components/LiveTourModal.tsx
  apps/cms/src/containers/Music/Player/components/PlayerModal.tsx
  apps/cms/src/containers/Music/YanceyMusic/components/YanceyMusicModal.tsx
  apps/cms/src/containers/Post/PostEditor.tsx
  apps/cms/src/containers/Post/types.ts
  apps/cms/src/containers/Settings/Profile/Profile.tsx
  apps/cms/src/containers/Settings/Security/components/RecoveryCodes/RecoveryCodes.tsx
  apps/cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/cms/src/pages/Layouts/components/Footer/Footer.tsx
  apps/cms/src/pages/Layouts/components/Header/styles.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

feat: upgrade Settings module
  apps/cms/src/containers/Post/PostEditor.tsx
  apps/cms/src/containers/Post/styles.ts
  apps/cms/src/containers/Settings/Security/components/RecoveryCodes/RecoveryCodes.tsx
  apps/cms/src/containers/Settings/Security/components/TwoFactors/TwoFactors.tsx
  apps/cms/src/pages/Layouts/components/Header/styles.ts
Due: prettier --write, eslint --fix --color

fmt: format code
  .lintstagedrc.yaml
Due: none

feat: update lint-stage
  .lintstagedrc.yaml
  package.json
Due: none

Path conditions:
  prettier --write: (any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}) or (any of: {apps,packages,tool-chains}/**/*.{css,less,scss,md})
  eslint --fix --color: any of: {apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}
