Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

chore(*): bump versions
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
Due: prettier --write

fix: fix feed generator script
  apps/blog-web/scripts/generatorFeed.js
Due: prettier --write, eslint --fix --color

chore(*): bump version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

chore(*): bump versions
  README.md
  common/changes/blog-web/master_2021-11-20-16-12.json
Due: none

chore: update dependabot
  .github/dependabot.yml
Due: none

chore: update dependeabot
  .github/dependabot.yml
Due: none

chore: update github-actions
  .github/workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

chore: update github actions
  .github/workflow-template.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: update robots.txt
  apps/blog-web/public/robots.txt
  apps/blog-web/public/sitemap-index.xml
Due: none

chore(*): bump versions
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

feat: use swc instead of babel
  apps/blog-web/babel.config.js
  apps/blog-web/next-env.d.ts
  apps/blog-web/next.config.js
  apps/blog-web/package.json
  apps/blog-web/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

chore(*): update versions
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): bump version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/changes/blog-web/master_2021-11-20-16-12.json
Due: prettier --write

chore(*): update dependencies
  common/config/rush/pnpm-lock.yaml
Due: none

feat: upgrade chartjs
  apps/blog-cms/package.json
  apps/blog-cms/src/containers/DashBoard/DashBoard.tsx
  apps/blog-cms/src/containers/DashBoard/chartjsConfig.ts
  apps/blog-cms/src/containers/DashBoard/components/DiskChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/NetWorkChart.tsx
  apps/blog-cms/src/containers/DashBoard/components/StatusCard.tsx
  apps/blog-cms/src/containers/DashBoard/components/ToggleChart.tsx
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/shared/globalStyles.ts
Due: prettier --write, eslint --fix --color

feat: wip: blog-cms uses react-router-dom v6
  apps/blog-cms/package.json
  apps/blog-cms/src/components/NotFound/NotFound.tsx
  apps/blog-cms/src/containers/Post/components/PostTable.tsx
  apps/blog-cms/src/containers/Settings/Account/Account.tsx
  apps/blog-cms/src/containers/Settings/Profile/Profile.tsx
  apps/blog-cms/src/containers/Settings/Security/components/ChangePassword/ChangePassword.tsx
  apps/blog-cms/src/index.tsx
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/Main.tsx
  apps/blog-cms/src/shared/history.ts
  apps/blog-cms/src/shared/utils.ts
Due: prettier --write, eslint --fix --color

chore: update README and dependencies
  README.md
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): happy new year
  LICENSE
Due: none

feat: use react-router-6
  apps/blog-cms/src/components/Logining/Logining.tsx
  apps/blog-cms/src/containers/Post/components/PostTable.tsx
  apps/blog-cms/src/containers/Post/styles.ts
  apps/blog-cms/src/pages/Layouts/components/Drawer/Drawer.tsx
  apps/blog-cms/src/pages/Layouts/components/Main/Main.tsx
  apps/blog-cms/src/routes.tsx
Due: prettier --write, eslint --fix --color

feat: migrate to react-router-dom and fix PostEditor style broken
  apps/blog-cms/package.json
  apps/blog-cms/pnpm-lock.yaml
  apps/blog-cms/src/components/ChipInput/ChipInput.tsx
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/containers/Post/styles.ts
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  apps/blog-service/package.json
Due: none

chore(deps): update dependencies
  apps/uploader-service/package.json
Due: none

chore(*): bump version
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  common/changes/blog-service/develop_2022-01-04-12-51.json
  common/changes/blog-web/develop_2022-01-04-12-51.json
  common/changes/uploader-service/develop_2022-01-04-12-51.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

chore(*): bump version
  apps/blog-service/pnpm-lock.yaml
  apps/blog-web/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): bump version
  README.md
Due: none

fix: downgrade
  apps/blog-web/babel.config.js
  apps/blog-web/next-env.d.ts
  apps/blog-web/next.config.js
  apps/blog-web/package.json
  apps/blog-web/pnpm-lock.yaml
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/changes/blog-web/develop_2022-01-04-12-51.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

refactor: use new cli of nextjs and new apollo-client
  apps/blog-web/.eslintignore
  apps/blog-web/.eslintrc
  apps/blog-web/README.md
  apps/blog-web/babel.config.js
  apps/blog-web/ecosystem.config.js
  apps/blog-web/next-env.d.ts
  apps/blog-web/next.config.js
  apps/blog-web/package.json
  apps/blog-web/pnpm-lock.yaml
  apps/blog-web/sentry.client.config.js
  apps/blog-web/sentry.server.config.js
  apps/blog-web/shims-env.d.ts
  apps/blog-web/src/.eslintignore
  apps/blog-web/src/components/ErrorBoundary/ErrorBoundary.tsx
  apps/blog-web/src/components/LazyLoadImage/LazyLoadImage.tsx
  apps/blog-web/src/containers/Home/components/Cover.tsx
  apps/blog-web/src/containers/Home/components/PostList.tsx
  apps/blog-web/src/containers/Layout/Layout.tsx
  apps/blog-web/src/containers/Layout/components/Header/styled.ts
  apps/blog-web/src/containers/Layout/components/Nav/Nav.tsx
  apps/blog-web/src/containers/Layout/components/Nav/styled.ts
  apps/blog-web/src/containers/Music/components/Player.tsx
  apps/blog-web/src/containers/Post/components/AlgoliaSearchBox/AlgoliaSearchBox.tsx
  apps/blog-web/src/graphql/apolloClient.ts
  apps/blog-web/src/graphql/withApollo.ts
  apps/blog-web/src/pages/_app.tsx
  apps/blog-web/src/pages/_document.tsx
  apps/blog-web/src/pages/_error.tsx
  apps/blog-web/src/pages/index.tsx
  apps/blog-web/src/shared/constants.ts
  apps/blog-web/src/shared/types.ts
  apps/blog-web/tsconfig.json
Due: prettier --write, eslint --fix --color

chore(deps): update dependencies
  apps/blog-cms/package.json
Due: none

chore(*): bump version
  .gitignore
  common/changes/blog-cms/refator-blog-fe_2022-01-06-07-50.json
  common/changes/blog-service/refator-blog-fe_2022-01-06-07-50.json
  common/changes/blog-web/refator-blog-fe_2022-01-06-07-50.json
  common/changes/uploader-service/refator-blog-fe_2022-01-06-07-50.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  rush.json
Due: none

chore(*): delete useless pnpm-lock.yaml
  apps/blog-cms/pnpm-lock.yaml
  apps/blog-service/pnpm-lock.yaml
  apps/uploader-service/pnpm-lock.yaml
Due: none

chore(*): update dependencies
  apps/blog-web/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): update dependencies
  apps/blog-web/package.json
Due: none

fix: fix not load infinite
  apps/blog-web/next.config.js
  apps/blog-web/package.json
  apps/blog-web/src/components/InfiniteScroll/InfiniteScroll.tsx
  apps/blog-web/src/containers/Home/Home.tsx
  apps/blog-web/src/containers/Home/components/Announcement.tsx
  apps/blog-web/src/containers/Home/components/Cover.tsx
  apps/blog-web/src/containers/Home/components/Motto.tsx
  apps/blog-web/src/containers/Home/components/OpenSource.tsx
  apps/blog-web/src/containers/Home/components/PostList.tsx
  apps/blog-web/src/containers/Layout/Layout.tsx
  apps/blog-web/src/containers/Layout/components/BackToTop/BackToTop.tsx
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/containers/Post/components/PostDetailSkeleton/PostDetailSkeleton.tsx
  apps/blog-web/src/graphql/apolloClient.ts
  apps/blog-web/src/pages/404.tsx
  apps/blog-web/src/pages/_app.tsx
  apps/blog-web/src/pages/_error.tsx
  apps/blog-web/src/pages/index.tsx
  apps/blog-web/src/pages/post/[id].tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  common/changes/blog-web/refator-blog-fe_2022-01-06-07-50.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
Due: prettier --write

fix: add auth for uploader
  apps/blog-cms/src/components/Uploader/Uploader.tsx
  apps/blog-cms/src/graphql/apolloClient.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  common/changes/blog-cms/refator-blog-fe_2022-01-06-07-50.json
Due: prettier --write
