Repository Yancey-Blog/beg-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --color

.lintstagedrc:

{
  "{apps,packages,tool-chains}/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --color"
  ],
  "{apps,packages,tool-chains}/**/*.{css,less,scss,md}": ["prettier --write"]
}

fix: fix blog editor page crash
  apps/blog-cms/src/containers/Post/PostEditor.tsx
  apps/blog-cms/src/containers/Post/PostList.tsx
  apps/blog-cms/src/containers/Post/typeDefs.ts
  apps/blog-cms/src/containers/Post/types.ts
  apps/blog-cms/src/containers/Settings/GlobalConfig/GlobalConfig.tsx
  apps/blog-service/schema.gql
  apps/blog-service/src/posts/posts.resolver.ts
  apps/blog-service/src/posts/posts.service.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-cms/CHANGELOG.json
  apps/blog-cms/CHANGELOG.md
  apps/blog-cms/package.json
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
Due: prettier --write

style: delete useless code
  apps/blog-cms/src/containers/Post/PostEditor.tsx
Due: prettier --write, eslint --fix --color

fix: fix isNotPublic
  apps/blog-service/src/posts/posts.service.ts
Due: prettier --write, eslint --fix --color

chore(*): bump version
  README.md
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
Due: prettier --write

fix: fix checkNotFound
  apps/blog-service/src/posts/posts.service.ts
Due: prettier --write, eslint --fix --color

feat: supports react-medium-image-zoom
  apps/blog-web/package.json
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
Due: prettier --write, eslint --fix --color

chore(*): bump version
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(*): bump version
  README.md
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
Due: prettier --write

feat: support theme for zoom image wrapper
  apps/blog-web/src/containers/Post/PostDetail/PostDetail.tsx
  apps/blog-web/src/styled/theme.ts
  apps/blog-web/styled.d.ts
Due: prettier --write, eslint --fix --color

chore: update README.md
  apps/blog-web/README.md
Due: prettier --write

chore: update README.md
  README.md
Due: none

feat: initial @shared/components
  libs/components/.eslintrc
  libs/components/.gitignore
  libs/components/.lintstagedrc.json
  libs/components/.storybook/main.js
  libs/components/.storybook/preview.js
  libs/components/README.md
  libs/components/example/.npmignore
  libs/components/example/index.html
  libs/components/example/index.tsx
  libs/components/example/package.json
  libs/components/example/tsconfig.json
  libs/components/package.json
  libs/components/src/InfiniteScroll/index.tsx
  libs/components/src/SkeletonIterator/index.tsx
  libs/components/src/index.tsx
  libs/components/stories/Thing.stories.tsx
  libs/components/test/blah.test.tsx
  libs/components/tsconfig.json
Due: none

feat: initial @shared/components
  libs/components/.gitignore
Due: none

feat: initial @shared/utils
  libs/utils/.eslintrc.js
  libs/utils/.lintstagedrc.json
  libs/utils/package.json
  libs/utils/rollup.config.js
  libs/utils/src/cors.ts
  libs/utils/src/index.ts
  libs/utils/tsconfig.json
Due: none

feat: use @shared/utils
  apps/blog-service/package.json
  apps/blog-service/src/shared/constants.ts
  apps/blog-service/src/shared/middlewares/middleware.config.ts
  apps/blog-service/src/shared/utils.ts
Due: prettier --write, eslint --fix --color

feat: use @shared/utils
  apps/uploader-service/.eslintrc.js
  apps/uploader-service/package.json
  apps/uploader-service/src/libs/middlewares/security.middleware.ts
  apps/uploader-service/src/shared/constants.ts
  apps/uploader-service/src/shared/utils.ts
  apps/uploader-service/tsconfig.json
Due: prettier --write, eslint --fix --color

chore(*): bump version
  .github/apps-workflow-template.yml
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-utils.yml
  .gitignore
  README.md
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
  bin/workflows.sh
  common/config/rush/browser-approved-packages.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  libs/components/CHANGELOG.json
  libs/components/CHANGELOG.md
  libs/components/package.json
  libs/utils/CHANGELOG.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
  rush.json
Due: prettier --write

chore: update repo name
  libs/utils/package.json
  libs/utils/src/cors.ts
  libs/utils/src/index.ts
Due: none

chore(*): update
  apps/blog-service/src/graphql/graphqls.module.ts
  apps/blog-service/src/shared/middlewares/middleware.config.ts
  apps/uploader-service/src/libs/middlewares/security.middleware.ts
  libs/utils/package.json
Due: prettier --write, eslint --fix --color

ci: update ci
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-utils.yml
Due: none

ci: update ci
  .github/workflows/github-actions-@shared-utils.yml
Due: none

feat: update
  libs/utils/src/cors.ts
Due: none

feat: update types
  apps/blog-web/src/components/InfiniteScroll/InfiniteScroll.tsx
Due: prettier --write, eslint --fix --color

ci: update ci
  .github/apps-workflow-template.yml
  .github/libs-workflow-template.yml
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-@shared-utils.yml
  .github/workflows/github-actions-blog-cms.yml
  .github/workflows/github-actions-blog-service.yml
  .github/workflows/github-actions-blog-web.yml
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: generateFile
  libs/utils/src/generate-file.ts
  libs/utils/src/index.ts
Due: none

chore(*): bump version
  README.md
  apps/blog-service/CHANGELOG.json
  apps/blog-service/CHANGELOG.md
  apps/blog-service/package.json
  apps/uploader-service/CHANGELOG.json
  apps/uploader-service/CHANGELOG.md
  apps/uploader-service/package.json
  libs/utils/CHANGELOG.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
Due: prettier --write

chore(*): update ci
  .github/workflows/github-actions-@shared-utils.yml
Due: none

feat: update types
  apps/blog-web/src/components/SkeletonIterator/SkeletonIterator.tsx
Due: prettier --write, eslint --fix --color

feat: add scrollToTop
  libs/utils/src/index.ts
  libs/utils/src/scroll-to-top.ts
Due: none

ci: update ci
  libs/utils/CHANGELOG.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
Due: none

ci: update ci
  .github/workflows/github-actions-@shared-components.yml
  .github/workflows/github-actions-blog-web.yml
  apps/blog-service/package.json
  apps/blog-web/CHANGELOG.json
  apps/blog-web/CHANGELOG.md
  apps/blog-web/package.json
  apps/uploader-service/package.json
Due: prettier --write

ci: update ci
  .github/apps-workflow-template.yml
Due: none

ci: update ci
  .github/workflows/github-actions-uploader-service.yml
Due: none

feat: update
  apps/uploader-service/src/main.ts
Due: prettier --write, eslint --fix --color
